<h1>Form Task</h1>
<section class="container">
  <div class="form_task">
    <input type="text" placeholder="post title" [(ngModel)]="postTitle" />
    <br /><br />
    <textarea
      cols="30"
      rows="10"
      placeholder="post detail"
      [(ngModel)]="postDetail"
    ></textarea>
    <br /><br />
    <input type="text" placeholder="image url" [(ngModel)]="imageURL" />
    <br /><br />
    <input type="text" placeholder="post url" [(ngModel)]="postURL" />
    <br /><br />
    <input type="checkbox" [(ngModel)]="addBackground" />Add Background
  </div>

  <div class="form_detail">
    <img [src]="imageURL" alt="" />
    <h3>
      <span [class.add-background]="addBackground">{{ postTitle }}</span>
    </h3>
    <p>{{ postDetail }}</p>
    <a
      [href]="postURL"
      [style.display]="postURL ? 'block' : 'none'"
      target="_bla
  "
      >More Details</a
    >
  </div>
</section>
